body
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.clear
{
    clear: both;
}
.col1
{
    float: left;
    width: 200px;
    padding:4px;

}
.col2
{
    float: left;
    width: 45%;
    padding:4px;
}
.col3
{
    float: left;
    width: 25%;
}
.row
{

}
.error,
.notice, 
.success    { padding: .5em; margin-bottom: 0.5em; border: 2px solid #ddd; margin-left:3em;margin-right:3em;margin-top:0.5em;}
.error      { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error span    { color: #D12F19; font-weight:bold;}
.notice span  { color: #817134; }
.success span  { color: #529214;font-weight:bold; }
.clear  {clear:both;}
.errorField {border: 2px solid #ddd;background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.errorValidator span {color: #D12F19; font-weight:bold;}
