body 
{
    font: 90% "Trebuchet MS", sans-serif; 
}
#logoBar
{
    width:100%;
    /*background-color:#D0CCB3;*/
}
#contentArea
{
    margin-left:5px;margin-right:5px;margin-top:6px;
}
#topNavBar
{
    width:100%;
}
#topNavBar .tab
{
    background-image:url('../img/tab-blank-grey.png');width:134px;height:30px;float:left;margin-left:4px;color:#FFF;
}
#topNavBar .tab span
{
  display:inline-block;margin-left:50px;margin-top:4px;
}
#topNavBar .tab a
{
    display: inline-block;
    margin-left: 8px;
    margin-top: 6px;
    font-size: 8pt;
    color: White;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#topNavBar .selected
{
    background-image:url('../img/tab-blank-blue.png');
}


#main
{
    width:100%;
}
#leftMenu
{
    width:15%;
    float:left;
    background-color:#D3DDE4;
}
#content
{ 
    float:left;
    width:78%;
}
#tabBar 
{
    width:100%;
    background-color:#7F7F7F;
    height:20px;
    color: White;
    /*padding:5px;*/
}
#tabBar a
{
    margin:20px;
    text-decoration:none;
    color: White;    
}

#tabBar a:hover
{
    text-decoration:underline;
    color: White;
}
.error,
.notice, 
.success    { padding: .5em; margin-bottom: 0.5em; border: 2px solid #ddd; margin-left:3em;margin-right:3em;margin-top:0.5em;}
.error      { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error span    { color: #D12F19; font-weight:bold;}
.notice span  { color: #817134; }
.success span  { color: #529214;font-weight:bold; }
.clear  {clear:both;}
.errorField {border: 2px solid #ddd;background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.errorValidator span {color: #D12F19; font-weight:bold;}

#leftMenu .heading
{
    border: 1px solid #FFFFFF;
    background-color: #336699;
    color: #FFFFFF;
    padding:6px;
    font-family:Verdana, Arial, Myriad, Helvetica, sans-serif;
    font-size:12px;
}

#leftMenu .itemImage
{
    float:left;
    width:10%;
    text-align:center;
    padding-top:11px;
    padding-bottom:11px;
    border-right:1px solid white;
}

#leftMenu .itemImage .doubleLine
{
    padding-top:33px;
    padding-bottom:33px;
}


#leftMenu .itemText
{
    float:left;
    padding:6px;
    width:80%;
    border-left:1px solid white;
    margin-left:-1px;
}
#leftMenu .mainItem
{
    border:1px solid white;    
}
.mainGrid
{
    width:100%;    
}